apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: demo-app
  name: demo-app
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: demo-app
    spec:
      containers:
      - image: ghcr.io/yuelirex/k8s-fluxcd-webhook-demoapp:main
        name: demo-app
        resources: {}
        env:
        - name: DEMO_ENV_NAME
          value: "{{ .Values.replicaCount }}"
status: {}
