# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Scala CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  REGISTRY_USER: ${{ github.actor }}
  REGISTRY_PASSWORD: ${{ github.token }}
  IMAGE_REGISTRY: ghcr.io/yuelirex

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: fregante/setup-git-user@v2
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'corretto'
        cache: 'sbt'
    - uses: sbt/setup-sbt@v1
    - name: Run tests
      run: sbt test
    - name: Generate docker file
      run: sbt clean docker:stage
    - name: Install Podman (if not pre-installed)
      run: |
        sudo apt-get update
        sudo apt-get install -y podman
    - name: Log in to container registry
      run: |
        echo "${{ secrets.REGISTRY_PASSWORD }}" | \
        podman login \
          --username ${{ env.REGISTRY_USER }} \
          --password ${{ env.REGISTRY_PASSWORD }} \
         ${{ env.IMAGE_REGISTRY }}
#    - name: Log in to ghcr.io
#      uses: redhat-actions/podman-login@v1
#      with:
#        username: ${{ env.REGISTRY_USER }}
#        password: ${{ env.REGISTRY_PASSWORD }}
#        registry: ${{ env.IMAGE_REGISTRY }}
    - name: Build application image
      run: podman build -t ghcr.io/yuelirex/demoapp:0.0.2-dev ./target/docker/stage
    - name: Push the image
      run: podman push ghcr.io/yuelirex/demoapp:0.0.2-dev ${{ env.IMAGE_REGISTRY }}
